@model Vinarija.Models.Kupuvac

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("SaveRecord", "Test", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.Ime, new { @class = "form-control", @placeholder = "Ime" })
        @Html.TextBoxFor(model => model.Prezime, new { @class = "form-control", @placeholder = "Prezime" })
        @Html.TextBoxFor(model => model.adresa, new { @class = "form-control", @placeholder = "Adresa" })
        @Html.TextBoxFor(model => model.email, new { @class = "form-control", @placeholder = "Email" })
        @Html.TextBoxFor(model => model.Godini, new { @class = "form-control", @placeholder = "Godini" })
        @Html.TextBoxFor(model => model.tel, new { @class = "form-control", @placeholder = "Telephone" })
        <input type="submit" value="Submit" class="btn btn-block btn-primary" />
}
    </div>
   
</body>
</html>
