<html>
<head>
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Wines</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/Home/VinoActionTikves">
                        <img src="~/Content/pictures/tikves.jpg" alt="Tikves" width="200px" height="200px" />
                        <div class="caption">
                            <p>Tikves winery.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/Home/VinoActionDalvina">
                        <img src="~/Content/pictures/Dalvina.jpg" alt="Dalvina" width="200px" height="200px" />
                        <div class="caption">
                            <p>Dalvina  wines.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/Home/VinoActionStobi">
                        <img src="~/Content/pictures/stobi.jpg" alt="Stobi" width="200px" height="200px" />
                        <div class="caption">
                            <p>Stobi Wines.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/Home/VinoActionBovin">
                        <img src="~/Content/pictures/Bovin.png" alt="Bovin" width="200px" height="200px" />
                        <div class="caption">
                            <p>Bovin Wines.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
            sessionStorage.setItem("UserName", "@Session["UserName"]");

         var log = sessionStorage.getItem('UserName');
                    if (document.getElementById("menuRightLogin") && log != null) {
                        $("#menuRightLogin").remove();
                        $("#menuRightLogoff").remove();
                            var html = '<ul id="menuRightLogoff" class="nav navbar-nav navbar-right">' +
                                '<li>@Html.ActionLink("Naracka", "Index", "Naracka", routeValues: null, htmlAttributes: new { id = "registracijaLink" })</li>' +
                                '<li><a id="logOff" href="/Account/Login">Log off</a></li>' +
                                '</ul>';


                        $('body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse').append(html);
                        $('#logOff').click(function () { sessionStorage.clear();});
                    } else {
                        $("#menuRightLogin").remove();
                        $("#menuRightLogoff").remove();
                        $("#formNaracka").submit(function (event) {
                            event.preventDefault();
                        });
                             var html = '<ul id="menuRightLogin" class="nav navbar-nav navbar-right">' +
                                '<li>@Html.ActionLink("Naracka", "Index", "Naracka", routeValues: null, htmlAttributes: new { id = "registracijaLink" })</li>' +
                                '<li>@Html.ActionLink("Registracija", "Index", "Registracija", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>' +
                                '<li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>' +
                                '</ul>';
                            $('body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse').append(html);

                        }
    </script>
</body>
</html>
