@{
    ViewBag.Title = "Bovin Tikves";
}
<html>
<head>
    <title>
        Vino Bovin
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        #myImg {
            transition: 1s;
        }

            #myImg:hover {
                opacity: 0.8;
                transform: scale(1.5);
            }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-3">
                <h3>Bovin Vina</h3>
        </div>
    </div>
    <div class="row">
        @foreach (var obj in ViewData.Model)
        {
            if (obj.ProizvoditelVino.ProizvoditelVinoIme == "Bovin")
            {
                <div class="col-md-3">
                    <div class="thumbnail">
                        @if (@obj.ImeVino == "Bovin Crveno")
                        {
                            <img id="myImg" src="~/Content/pictures/bovinvranec.jpeg" alt="Bovin Red" width="200px" height="200px" />
                        }
                        else if (@obj.ImeVino == "Bovin Crno")
                        {
                            <img id="myImg" src="~/Content/pictures/bovinmerlot.jpeg" alt="Bovin Black" width="200px" height="200px" />
                        }
                        <div class="caption">
                            <p>@obj.ImeVino</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-md-3">
                <a class="btn btn-default" href="/Sostojki/Index">Sostojki</a>
            
        </div>
    </div>
    <script>
var log = sessionStorage.getItem('UserName');
                    if (document.getElementById("menuRightLogin") && log != null) {
                        $("#menuRightLogin").remove();
                        $("#menuRightLogoff").remove();
                        var html = '<ul id="menuRightLogoff" class="nav navbar-nav navbar-right">' +
                            '<li><a> ' + log + '</a> </li>' +
                                '<li>@Html.ActionLink("Naracka", "Index", "Naracka", routeValues: null, htmlAttributes: new { id = "registracijaLink" })</li>' +
                                '<li><a id="logOff" href="/Account/Login">Log off</a></li>' +
                                '</ul>';


                        $('body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse').append(html);
                        $('#logOff').click(function () { sessionStorage.clear();});
                    } else {
                        $("#menuRightLogin").remove();
                        $("#menuRightLogoff").remove();
                        $("#formNaracka").submit(function (event) {
                            event.preventDefault();
                        });
                             var html = '<ul id="menuRightLogin" class="nav navbar-nav navbar-right">' +
                                '<li>@Html.ActionLink("Naracka", "Index", "Naracka", routeValues: null, htmlAttributes: new { id = "registracijaLink" })</li>' +
                                '<li>@Html.ActionLink("Registracija", "Index", "Registracija", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>' +
                                '<li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>' +
                                '</ul>';
                            $('body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse').append(html);

                        }

    </script>
</body>
</html>




