
@{
    ViewBag.Title = "IndexTikves";
}
<html>
<head>
    <title>
        Sostojki
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="row">
        <h1>Sostojki</h1>
    </div>
    <br />
    <div class="row">
        <div class="thumbnail">
            <table id="ecample" class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Tip Vino</th>
                        <th>Seker</th>
                        <th>Grozje</th>
                        <th>Voda</th>
                        <th>Ostanato</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in ViewData.Model)
                    {
                        if (obj.Vino.ProizvoditelVinoID == 11)
                        {
                            <tr>
                                <td>@obj.Vino.ImeVino</td>
                                <td>@obj.Seker</td>
                                <td>@obj.Grozje</td>
                                <td>@obj.Voda</td>
                                <td>@obj.Ostanato</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <p>Vratetese na <a href="/Home/VinoActionTikves">prethodnata</a> strana</p>
    </div>
    <div class="row">
        <p>Vratetese na <a href="/Home/Index">pocetnata</a> strana</p>
    </div>
    <script>
         var log = sessionStorage.getItem('UserName');
                    if (document.getElementById("menuRightLogin") && log != null) {
                        $("#menuRightLogin").remove();
                        $("#menuRightLogoff").remove();
                            var html = '<ul id="menuRightLogoff" class="nav navbar-nav navbar-right">' +
                                '<li>@Html.ActionLink("Naracka", "Index", "Naracka", routeValues: null, htmlAttributes: new { id = "registracijaLink" })</li>' +
                                '<li><a id="logOff" href="/Account/Login">Log off</a></li>' +
                                '</ul>';


                        $('body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse').append(html);
                        $('#logOff').click(function () { sessionStorage.clear();});
                    } else {
                        $("#menuRightLogin").remove();
                        $("#menuRightLogoff").remove();
                        $("#formNaracka").submit(function (event) {
                            event.preventDefault();
                        });
                             var html = '<ul id="menuRightLogin" class="nav navbar-nav navbar-right">' +
                                '<li>@Html.ActionLink("Naracka", "Index", "Naracka", routeValues: null, htmlAttributes: new { id = "registracijaLink" })</li>' +
                                '<li>@Html.ActionLink("Registracija", "Index", "Registracija", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>' +
                                '<li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>' +
                                '</ul>';
                            $('body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse').append(html);

                        }
    </script>
</body>
</html>


