@{
    ViewBag.Title = "Vino Title";
}
<html>
<head>
    <title>
        Vino
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
    <a href="/Home/Index" class="btn btn-default">Home</a>
    <table style="100%">

        <tr>
            <th>Ime Vino</th>
            <th>Tip Vino</th>
            <th>Prozivoditel Vino</th>
            <th>Godina Prozivodstvo</th>
            <th>Cena</th>
        </tr>

        @foreach (var obj in ViewData.Model)
        {
            <tr>
                <td>

                    <ul><li>@obj.ImeVino</li></ul>
                </td>
                <td>
                    <ul><li>@obj.TipVino.TipVino1</li></ul>
                </td>
                <td>

                    <ul><li>@obj.ProizvoditelVino.ProizvoditelVinoIme</li></ul>
                </td>
                <td>
                    <ul><li>@obj.GodinaProizvdostvo</li></ul>
                </td>
                <td>
                    <ul><li>@obj.Cena</li></ul>
                </td>
            </tr>
        }

    </table>
    <script>
         var log = sessionStorage.getItem('UserName');
                    if (document.getElementById("menuRightLogin") && log != null) {
                        $("#menuRightLogin").remove();
                        $("#menuRightLogoff").remove();
                            var html = '<ul id="menuRightLogoff" class="nav navbar-nav navbar-right">' +
                                '<li>@Html.ActionLink("Naracka", "Index", "Naracka", routeValues: null, htmlAttributes: new { id = "registracijaLink" })</li>' +
                                '<li><a id="logOff" href="/Account/Login">Log off</a></li>' +
                                '</ul>';


                        $('body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse').append(html);
                        $('#logOff').click(function () { sessionStorage.clear();});
                    } else {
                        $("#menuRightLogin").remove();
                        $("#menuRightLogoff").remove();
                        $("#formNaracka").submit(function (event) {
                            event.preventDefault();
                        });
                             var html = '<ul id="menuRightLogin" class="nav navbar-nav navbar-right">' +
                                '<li>@Html.ActionLink("Naracka", "Index", "Naracka", routeValues: null, htmlAttributes: new { id = "registracijaLink" })</li>' +
                                '<li>@Html.ActionLink("Registracija", "Index", "Registracija", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>' +
                                '<li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>' +
                                '</ul>';
                            $('body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse').append(html);

                        }
    </script>
</body>
</html>


